<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" formControlName="title" required>
  <div *ngIf="myForm.get('title')?.hasError('required') && isSubmitted">
    Title is required
  </div>

  <label for="price">Price</label>
  <input type="number" id="price" name="price" formControlName="price" required>
  <div *ngIf="myForm.get('title')?.hasError('required') && isSubmitted">
    Price is required
  </div>

  <label for="description">Description</label>
  <input type="text" id="description" name="description" formControlName="description" required>
  <div *ngIf="myForm.get('title')?.hasError('required') && isSubmitted">
    Description is required
  </div>

   <label for="category">Category</label>
  <select id="category" formControlName="category">
    <option value="" disabled selected>Select a category</option>
    <option value="electronics"></option>
    <option value="clothing">Clothing</option>
    <option value="books">Books</option>
    <!-- Add more options as needed -->
  </select>
  <div *ngIf="myForm.get('category')?.hasError('required') && isSubmitted">
    select category
  </div>

  <label for="image">Image</label>
  <input type="file" id="image" name="image" formControlName="image" required accept="image/jpeg">
  <div *ngIf="myForm.get('title')?.hasError('required') && isSubmitted">
    Image is required
  </div>

  <br/>
  <button type="submit">Submit</button>
</form>
