:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 600px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 5px;
}

input {
  width: 40%;
  margin-bottom: 10px;
  display: inline-block;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #45a049;
}
