<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/user">Signup</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</nav>

<div class="container">
  <div class="row" *ngFor="let record of data as dataArray; let i = index">
      <div class="box">
        <img alt="" [src]="record.image" style="max-width: 100%; max-height: 50%; align-self: center"/>
        <h3>{{ record.title }}</h3>
        <p>{{ record.description }}</p>
        <button>Add to cart</button>
        <button>Wishlist</button>
      </div>
  </div>
</div>



